.clearFloat{clear:both;}/* clear float */

.headerside{
	border-bottom:1px solid #aaa;
	position:relative;
}
.sidebar{
	width:220px;
	float:left;
	font-size:12px;
	padding:0 18px 0 0;
}
.widget{
		font-size:12px;
		margin:0 0 18px 0;
		background: #ffffff;
		overflow:hidden;
	}
.widget ul{
		list-style:none;
		margin:0;
		padding:0;
	}
	.widget li{
		border-top:1px solid #ddd;
		margin:0;
		padding:0;
	}
	.widget li.active a:before{
		content:"";
		position:absolute;
		top:13px;
		left:0px;
		z-index:2;
		width:8px;
		height:8px;
		/* background:url(../../web/images/rt-arrow.png) no-repeat; */
	}
	.widget li:last-child{
		border-bottom:1px solid #2d2d2d;
	}
	.widget li:first-child{
		border-top:1px solid #2d2d2d;
	}
	.widget a{
		position:relative;
		display:block;
		line-height:1.6em;
		color:#7d7d7d;
		padding:8px 10px;
	}
	.widget a:hover,
	.widget li.active a{
		color:#0d6e9b;
	}
.searchbox{
	background:#fff;
	border:1px solid #ddd;
	-moz-border-radius:2em;
	-webkit-border-radius:2em;
	border-radius:2em;
	margin:0 0 18px 0;
}
.searchbox:hover{
	background:#fff;
}
.searchbox input[type=text]{
	background:none;
	width:160px;
	outline:none;
	border:none;
	padding:10px 5px;
	margin-left:12px;
	color:#7d7d7d;
}
.searchbox input[type=submit]{
	display:inline-block;
	margin-right:12px;
	width:16px;
	height:16px;
	cursor:pointer;
	/* background:url(../../web/images/search.png) no-repeat; */
	border:none;
	outline:none;
	position:relative;
	top:1px;
    left:4px;
}

/* Content */
.videocontent{
	background:white;
	color:#464646;
	float:left;
	border-right:1px solid #eee;
	border-left:1px solid #eee;
	-moz-box-shadow:0 0 5px #eee;
	-webkit-box-shadow:0 0 5px #eee;
	box-shadow:0 0 5px #eee;
	width:760px;
}

.part{
	padding: 1% 0 0 23%;;
}
